<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> Result </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> First value :  <input type="text", name='math_score', placeholder="enter 1"> <br><br>
            Second value :  <input type="text", name='reading_score', placeholder="enter 2"> <br><br>
            Third value : <input type="text", name='writing_score', placeholder="enter 3"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        <img src='static\flower1.jpg' alt="flower">
        
    </center>

    </body>
</html>
